.header {
    padding: 0;
    height: 91px;
    background-color:#fff;
    .top{
        display: flex;
        padding: 0 30px;
        align-items: center;
        justify-content:flex-end;
        width: 100%;
        height: 40px;
        border-bottom: 1px solid rosybrown;
        h1{
            margin: 0 7px;
            color: #333333;
        }
        .quit{
            color: rgb(38,188,213);
            height: 20px;
            line-height: 20px;
            &:hover{
                color: gray;
                cursor: pointer;
            }
        }
    }
    .bottom{
        height: 50px;
        padding: 0 30px 0 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title{
            position: relative;
            line-height: 50px;
            h1{
                font-size: 25px;
                margin: 0 7px;
                color: rgb(38,188,213);
               
            }
            .tel{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 30px;
                border: 30px solid transparent;
                border-top: 30px solid #fff;
                
            }
        }
        .msg{
            color: #888;
            img{
                margin: 0 0 9px 10px;
                height: 35px;
            }
        }
    }
}

